@model IEnumerable<WebApplicationDbFirst.Motorcycle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<html>
<head runat="server">
    <title>

    </title>
    <link rel="stylesheet" href="../themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../nivo-slider.css" type="text/css" media="screen" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.nivo.slider.js"></script>
</head>
<body>
    @foreach (var item in Model)
    {
        <div id="slider" class="nivoSlider">
            @if (item.Image != null)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" width="80" height="80" />
            }
        </div>
    }

    <script type="text/javascript">

        $(window).load(function () {
            $('#nivo-slider').nivoSlider();
        });
    </script>

</body>
</html>
